@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

.Text {
    margin-top: -30px;

}

.text-light-gray {
    color: #727272;
}

.btn-primary {
    border-radius: 5px;
    font-size: 1.25rem;
    color: cornsilk;
    background: #FF900E;
    padding: 20px 25px;
    font-weight: 600;
    cursor: zoom-out;
    cursor: pointer;
    border: 0;
    transition: ease-in-out;
}

.section-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
    margin-top: 120px;
}

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav>ul {
    display: flex;
    gap: 15px;
    align-items: center;
}

nav li {
    list-style: none;
    margin: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: #424242;

}

.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;

}

.banner-description {
    color: var #727272;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.banner-img {
    margin-top: 20px;
    width: 100%;

}

main {
    max-width: 1440px;
    margin: 0 auto;

}

.teams-container {
    display: flex;
    align-items: center;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-content {
    padding-left: 70px;
    padding-right: 70px;

}

.teams-title {
    font-size: 2.8rem;
}

.team-title .quick-list {

    font-weight: 500;

}

.team-title .text-feature {
    color: #FF900E;
    font-weight: 700;
}

.section-features {
    margin-top: 130px;
    display: flex;
    gap: 100px;
}

.section-features .section-title {

    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.feature-content .card {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
    margin-bottom: 20px;
}
.feature-img{
    position: relative;
}

.ten-years-badge {
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    width: 350px;
    padding: 40px 30px;
    text-align: center;
    position: absolute;
    bottom: 30px;
    left: -30px;

}

.ten-years-badge h2{

    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-style: normal;
    font-weight: 700;
    font-size: 4rem;
   
}
.ten-years-badge p{
    font-size: 1.5rem;
    margin-top: -30px;


}


.fact-card-container {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}

.fact-card-container .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px 60px;
    margin-top: 50px;

}

.fact-card-container .card-title {
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 5px;
}

.fact-card-container .card-stats {
    font-size: 2.8rem;
    color: #424242;
    margin: 0;

}

.Sponsors {
    text-align: center;
}

.Sponsors-img-container {
    margin-top: 120px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;

}

.Sponsors-img-container img {
    width: 165px;
    text-align: center;

}

@media screen and (max-width: 576px) {
    header {
        padding: 10px 0;
        
    }
    .banner-img img{
        margin-top: 5px;
        width: 100%;
    }
    .section-title {
        margin-top: 20px;
    }
    nav li {
        margin-right: 1px;
        flex-direction: row;
       
    }

    nav > ul, 
    .fact-card-container,
    .teams-img-container,
    .section-features,
    .Sponsors-img-container {
        flex-direction: column;
        align-items: center;

    }


    .teams-img-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1.5rem;
    }

    .teams-content,
    .fact-card-container,
    .Sponsors-img-container {
        padding-left: 20px;
        padding-right: 20px;
        align-items: center;
    }

    .fact-card-container {
        gap: 25px;
    }

    .teams-container {
        flex-direction: column;
    }
    .feature-img img{
        width: 100%;
    }
    .ten-years-badge{
        width: 200px;
        padding: 20px 70px;
        position: absolute;
        bottom: -80px;
    } 
    .ten-years-badge h2{
        font-size: 2rem;
    }
}

@media screen and (min-width: 576px) and (max-width: 960px) {
    header {
        padding: 50px;
    }

    nav {
        flex-direction: column;
    }
}